# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual environments
venv/
.env/
.venv/

# PyCharm
.idea/

# macOS
.DS_Store

# Environment variables
.env

# Logs
*.log

# Jupyter Notebook
.ipynb_checkpoints/

# Build
dist/
build/
*.egg-info/
